{% extends 'base.html.twig' %}

{% block title %} BrushAndCode {% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center py-4 my-4 text-white"> Confirmation </h2>
            </div>
        </div>
        <div class="row">
            <div class="mb-4 pb-4">
                <h3> Bravo !</h3> <br>

                <p class="text-justify confirm">
                    Vous avez fait le premier pas vers la concrétisation de votre projet Multimédia. <br>
                    Un chef de projet va prendre contact avec vous! Vous venez de recevoir un mail.
                </p>

            </div>
        </div>
    </div>


{% endblock %}