{% extends 'base.html.twig' %}

{% block title %} BrushAndCode {% endblock %}

{% block body %}

<div class="container">
    <div class="row py-3 my-3">
        <div class="col-md-4 ">
            <div class="card ">
                <a href="{{ path('fos_user_security_login') }}">
                    <div class="card_choice">
                        <div class="card-header">
                            Connexion
                        </div>
                        <div class="card-body">
                            <p class="text-justify">
                                Connectez-vous ici <br>
                            </p>
                        </div>
                    </div>
                </a>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <a href="{{ path('quotation') }}">
                    <div class="card_choice">
                        <div class="card-header">
                            Devis
                        </div>
                        <div class="card-body">
                            Allez directement au devis. Estimez votre projet.
                        </div>
                    </div>
                </a>

            </div>

        </div>
        <div class="col-md-4">
            <div class="card">
                <a href="{{ path('fos_user_registration_register') }}">
                    <div class="card_choice">
                        <div class="card-header">
                            Inscription
                        </div>
                        <div class="card-body">
                            <p class="text-justify">
                                Inscrivez-vous et suivez-nous
                            </p>
                        </div>
                    </div>
                </a>

            </div>
        </div>

    </div>
</div>


{% endblock %}