<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>BrushAndCode</title>
</head>
<body>
    <img style="position:absolute;top:0.80in;left:0.73in;width:7.55in;height:10.98in" src="https://zupimages.net/up/19/19/cl88.png" />
    <div style="position:absolute;top:1.32in;left:4.09in;width:0.71in;line-height:0.26in;">
        <span style="font-style:normal;font-weight:bold;font-size:17pt;font-family:MUFUZY+Calibri-Bold;color:#000000">
            DEVIS
        </span>
        <span style="font-style:normal;font-weight:bold;font-size:17pt;font-family:MUFUZY+Calibri-Bold;color:#000000">
        </span>
        <br/></SPAN>
    </div>
    <div style="position:absolute;top:0.89in;left:6.80in;width:0.29in;line-height:0.12in;">
        <span style="font-style:normal;font-weight:bold;font-size:8pt;font-family:MUFUZY+Calibri-Bold;color:#000000">
            Date:
        </span>
        <span style="font-style:normal;font-weight:bold;font-size:8pt;font-family:MUFUZY+Calibri-Bold;color:#000000">
        </span>
        <br/></SPAN>
    </div>
    <div style="position:absolute;top:0.89in;left:7.44in;width:0.49in;line-height:0.12in;">
        <span style="font-style:normal;font-weight:bold;font-size:8pt;font-family:MUFUZY+Calibri-Bold;color:#000000">
            {{ date }}
        </span>
        <span style="font-style:normal;font-weight:bold;font-size:8pt;font-family:MUFUZY+Calibri-Bold;color:#000000">
        </span>
        <br/></SPAN>
    </div>
    <div style="position:absolute;top:1.76in;left:6.26in;width:1.97in;line-height:0.16in;">
        <span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:MUFUZY+Calibri-Bold;color:#000000">
            N° de Devis:
        </span>
        </SPAN><br/>
    </div>
    <div style="position:absolute;top:1.77in;left:6.26in;width:1.97in;line-height:0.15in;">
        <DIV style="position:relative; left:0.89in;">
            <span style="font-style:normal;font-weight:bold;font-size:9pt;font-family:MUFUZY+Calibri-Bold;color:#000000">
                BCMAR20190561
            </span>
            <span style="font-style:normal;font-weight:bold;font-size:9pt;font-family:MUFUZY+Calibri-Bold;color:#000000">
            </span>
            <br/></SPAN>
        </DIV>
    </div>
    <div style="position:absolute;top:2.11in;left:0.79in;width:1.68in;line-height:0.13in;">
        <span style="font-style:normal;font-weight:bold;font-size:8pt;font-family:MUFUZY+Calibri-Bold;color:#000000">
            Brush &amp; Code digital solutions
        </span>
        <span style="font-style:normal;font-weight:bold;font-size:8pt;font-family:MUFUZY+Calibri-Bold;color:#000000">
        </span>
        <br/></SPAN>
    </div>
    <div style="position:absolute;top:2.12in;left:6.15in;width:0.88in;line-height:0.12in;">
        <span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:MUFUZY+Calibri;color:#000000">
            Numéro prospect
        </span>
        <span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:MUFUZY+Calibri;color:#000000">
        </span>
        <br/></SPAN>
    </div>
    <div style="position:absolute;top:2.12in;left:7.15in;width:0.21in;line-height:0.12in;">
        <span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:MUFUZY+Calibri;color:#000000">
            PR2
        </span>
        <span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:MUFUZY+Calibri;color:#000000">
        </span>
        <br/>
        </SPAN>
    </div>
    <div style="position:absolute;top:2.33in;left:0.79in;width:1.69in;line-height:0.13in;">
        <span style="font-style:normal;font-weight:bold;font-size:8pt;font-family:MUFUZY+Calibri-Bold;color:#000000">
            11 Rue Baudelaire 75000 Paris
        </span>
        <span style="font-style:normal;font-weight:bold;font-size:8pt;font-family:MUFUZY+Calibri-Bold;color:#000000">
        </span>
        <br/></SPAN>
    </div>
    <div style="position:absolute;top:2.34in;left:6.15in;width:0.76in;line-height:0.12in;">
        <span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:MUFUZY+Calibri;color:#000000"></span><span
                style="font-style:normal;font-weight:normal;font-size:8pt;font-family:MUFUZY+Calibri;color:#000000"> </span><br/></SPAN>
    </div>
    <div style="position:absolute;top:2.54in;left:0.79in;width:0.65in;line-height:0.13in;">
        <span style="font-style:normal;font-weight:bold;font-size:8pt;font-family:MUFUZY+Calibri-Bold;color:#000000">Téléphone:</span><span
                style="font-style:normal;font-weight:bold;font-size:8pt;font-family:MUFUZY+Calibri-Bold;color:#000000"> </span><br/></SPAN>
    </div>
    <div style="position:absolute;top:2.55in;left:6.15in;width:0.84in;line-height:0.12in;">
        <span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:MUFUZY+Calibri;color:#000000"></span><span
                style="font-style:normal;font-weight:normal;font-size:8pt;font-family:MUFUZY+Calibri;color:#000000"> </span><br/></SPAN>
    </div>
    <div style="position:absolute;top:2.75in;left:0.79in;width:0.50in;line-height:0.13in;">
        <span style="font-style:normal;font-weight:bold;font-size:8pt;font-family:MUFUZY+Calibri-Bold;color:#000000">
            {{ email }}
        </span>
        <span
                style="font-style:normal;font-weight:bold;font-size:8pt;font-family:MUFUZY+Calibri-Bold;color:#000000">
        </span>
        <br/></SPAN>
    </div>
    <div style="position:absolute;top:2.77in;left:6.15in;width:0.92in;line-height:0.12in;">
        <span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:MUFUZY+Calibri;color:#000000">97115 Sainte Rose</span><span
                style="font-style:normal;font-weight:normal;font-size:8pt;font-family:MUFUZY+Calibri;color:#000000"> </span><br/></SPAN>
    </div>
    <div style="position:absolute;top:2.97in;left:0.79in;width:0.52in;line-height:0.13in;">
        <span style="font-style:normal;font-weight:bold;font-size:8pt;font-family:MUFUZY+Calibri-Bold;color:#000000">Contact :</span><span
                style="font-style:normal;font-weight:bold;font-size:8pt;font-family:MUFUZY+Calibri-Bold;color:#000000"> </span><br/></SPAN>
    </div>
    <div style="position:absolute;top:3.18in;left:0.79in;width:0.37in;line-height:0.13in;">
        <span style="font-style:normal;font-weight:bold;font-size:8pt;font-family:MUFUZY+Calibri-Bold;color:#000000">SIRET:</span><span
                style="font-style:normal;font-weight:bold;font-size:8pt;font-family:MUFUZY+Calibri-Bold;color:#000000"> </span><br/></SPAN>
    </div>
    <div style="position:absolute;top:3.38in;left:0.79in;width:0.25in;line-height:0.13in;">
        <span style="font-style:normal;font-weight:bold;font-size:8pt;font-family:MUFUZY+Calibri-Bold;color:#000000">TVA</span><span
                style="font-style:normal;font-weight:bold;font-size:8pt;font-family:MUFUZY+Calibri-Bold;color:#000000"> </span><br/></SPAN>
    </div>
    <div style="position:absolute;top:3.66in;left:0.79in;width:4.59in;line-height:0.16in;">
        <span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:MUFUZY+Calibri-Bold;color:#000000">Objet :                           /Estimation de la durée de la prestation : 2mois</span><span
                style="font-style:normal;font-weight:bold;font-size:10pt;font-family:MUFUZY+Calibri-Bold;color:#000000"> </span><br/></SPAN>
    </div>
    <div style="position:absolute;top:4.01in;left:1.54in;width:0.70in;line-height:0.16in;">
        <span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:MUFUZY+Calibri-Bold;color:#000000">Référence</span><span
                style="font-style:normal;font-weight:bold;font-size:10pt;font-family:MUFUZY+Calibri-Bold;color:#000000"> </span><br/></SPAN>
    </div>
    <div style="position:absolute;top:4.01in;left:3.19in;width:0.72in;line-height:0.16in;">
        <span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:MUFUZY+Calibri-Bold;color:#000000">Prestation</span><span
                style="font-style:normal;font-weight:bold;font-size:10pt;font-family:MUFUZY+Calibri-Bold;color:#000000"> </span><br/></SPAN>
    </div>
    <div style="position:absolute;top:4.01in;left:4.11in;width:0.94in;line-height:0.16in;">
        <span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:MUFUZY+Calibri-Bold;color:#000000">Jours Homme</span><span
                style="font-style:normal;font-weight:bold;font-size:10pt;font-family:MUFUZY+Calibri-Bold;color:#000000"> </span><br/></SPAN>
    </div>
    <div style="position:absolute;top:4.01in;left:5.16in;width:0.86in;line-height:0.16in;">
        <span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:MUFUZY+Calibri-Bold;color:#000000">Prix Unitaire</span><span
                style="font-style:normal;font-weight:bold;font-size:10pt;font-family:MUFUZY+Calibri-Bold;color:#000000"> </span><br/></SPAN>
    </div>
    <div style="position:absolute;top:4.01in;left:6.47in;width:0.30in;line-height:0.16in;">
        <span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:MUFUZY+Calibri-Bold;color:#000000">TVA</span><span
                style="font-style:normal;font-weight:bold;font-size:10pt;font-family:MUFUZY+Calibri-Bold;color:#000000"> </span><br/></SPAN>
    </div>
    <div style="position:absolute;top:4.01in;left:7.40in;width:0.59in;line-height:0.16in;">
        <span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:MUFUZY+Calibri-Bold;color:#000000">Total HT</span><span
                style="font-style:normal;font-weight:bold;font-size:10pt;font-family:MUFUZY+Calibri-Bold;color:#000000"> </span><br/></SPAN>
    </div>
    <div style="position:absolute;top:4.28in;left:1.54in;width:0.72in;line-height:0.12in;">
        <span style="font-style:normal;font-weight:normal;font-size:8pt;font-family:MUFUZY+Calibri;color:#000000">Pack_de_base</span><span
                style="font-style:normal;font-weight:normal;font-size:8pt;font-family:MUFUZY+Calibri;color:#000000"> </span><br/></SPAN>
    </div>
    <div style="position:absolute;top:4.27in;left:4.49in;width:0.18in;line-height:0.15in;">
        <span style="font-style:normal;font-weight:normal;font-size:9pt;font-family:MUFUZY+Calibri;color:#000000">81</span><span
                style="font-style:normal;font-weight:normal;font-size:9pt;font-family:MUFUZY+Calibri;color:#000000"> </span><br/></SPAN>
    </div>
    <div style="position:absolute;top:4.27in;left:5.43in;width:0.36in;line-height:0.15in;">
        <span style="font-style:normal;font-weight:normal;font-size:9pt;font-family:MUFUZY+Calibri;color:#000000">21,05</span><span
                style="font-style:normal;font-weight:normal;font-size:9pt;font-family:MUFUZY+Calibri;color:#000000"> </span><br/></SPAN>
    </div>
    <div style="position:absolute;top:4.27in;left:6.41in;width:0.44in;line-height:0.15in;">
        <span style="font-style:normal;font-weight:normal;font-size:9pt;font-family:MUFUZY+Calibri;color:#000000">341,01</span><span
                style="font-style:normal;font-weight:normal;font-size:9pt;font-family:MUFUZY+Calibri;color:#000000"> </span><br/></SPAN>
    </div>
    <div style="position:absolute;top:4.27in;left:7.44in;width:0.51in;line-height:0.15in;">
        <span style="font-style:normal;font-weight:normal;font-size:9pt;font-family:MUFUZY+Calibri;color:#000000">1705,05</span><span
                style="font-style:normal;font-weight:normal;font-size:9pt;font-family:MUFUZY+Calibri;color:#000000"> </span><br/></SPAN>
    </div>
    <div style="position:absolute;top:4.49in;left:6.57in;width:0.11in;line-height:0.15in;">
        <span style="font-style:normal;font-weight:normal;font-size:9pt;font-family:MUFUZY+Calibri;color:#000000">0</span><span
                style="font-style:normal;font-weight:normal;font-size:9pt;font-family:MUFUZY+Calibri;color:#000000"> </span><br/></SPAN>
    </div>
    <div style="position:absolute;top:4.49in;left:7.64in;width:0.11in;line-height:0.15in;">
        <span style="font-style:normal;font-weight:normal;font-size:9pt;font-family:MUFUZY+Calibri;color:#000000">0</span><span
                style="font-style:normal;font-weight:normal;font-size:9pt;font-family:MUFUZY+Calibri;color:#000000"> </span><br/></SPAN>
    </div>
    <div style="position:absolute;top:6.02in;left:0.79in;width:1.58in;line-height:0.16in;">
        <span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:MUFUZY+Calibri-Bold;color:#000000">Devis valable jusqu&apos;au :</span><span
                style="font-style:normal;font-weight:bold;font-size:10pt;font-family:MUFUZY+Calibri-Bold;color:#000000"> </span><br/></SPAN>
    </div>
    <div style="position:absolute;top:6.02in;left:3.22in;width:0.65in;line-height:0.16in;">
        <span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:MUFUZY+Calibri-Bold;color:#000000">6/5/2019</span><span
                style="font-style:normal;font-weight:bold;font-size:10pt;font-family:MUFUZY+Calibri-Bold;color:#000000"> </span><br/></SPAN>
    </div>
    <div style="position:absolute;top:6.33in;left:0.79in;width:3.76in;line-height:0.16in;">
        <span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:MUFUZY+Calibri-Bold;color:#000000">Chaque prestation (hors formation) est garantie 30 jours</span><span
                style="font-style:normal;font-weight:bold;font-size:10pt;font-family:MUFUZY+Calibri-Bold;color:#000000"> </span><br/></SPAN>
    </div>
    <div style="position:absolute;top:6.62in;left:6.53in;width:0.57in;line-height:0.16in;">
        <span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:MUFUZY+Calibri;color:#000000">Total HT</span><span
                style="font-style:normal;font-weight:normal;font-size:10pt;font-family:MUFUZY+Calibri;color:#000000"> </span><br/></SPAN>
    </div>
    <div style="position:absolute;top:6.62in;left:7.33in;width:0.71in;line-height:0.16in;">
        <span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:MUFUZY+Calibri;color:#000000">1 705,05 €</span><span
                style="font-style:normal;font-weight:normal;font-size:10pt;font-family:MUFUZY+Calibri;color:#000000"> </span><br/></SPAN>
    </div>
    <div style="position:absolute;top:6.90in;left:6.81in;width:0.30in;line-height:0.16in;">
        <span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:MUFUZY+Calibri;color:#000000">TVA</span><span
                style="font-style:normal;font-weight:normal;font-size:10pt;font-family:MUFUZY+Calibri;color:#000000"> </span><br/></SPAN>
    </div>
    <div style="position:absolute;top:6.90in;left:7.40in;width:0.59in;line-height:0.16in;">
        <span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:MUFUZY+Calibri;color:#000000">341,01 €</span><span
                style="font-style:normal;font-weight:normal;font-size:10pt;font-family:MUFUZY+Calibri;color:#000000"> </span><br/></SPAN>
    </div>
    <div style="position:absolute;top:7.17in;left:6.45in;width:0.65in;line-height:0.16in;">
        <span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:MUFUZY+Calibri-Bold;color:#000000">Total TTC</span><span
                style="font-style:normal;font-weight:bold;font-size:10pt;font-family:MUFUZY+Calibri-Bold;color:#000000"> </span><br/></SPAN>
    </div>
    <div style="position:absolute;top:7.17in;left:7.33in;width:0.71in;line-height:0.16in;">
        <span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:MUFUZY+Calibri-Bold;color:#000000">2 046,06 €</span><span
                style="font-style:normal;font-weight:bold;font-size:10pt;font-family:MUFUZY+Calibri-Bold;color:#000000"> </span><br/></SPAN>
    </div>
    <div style="position:absolute;top:7.45in;left:5.79in;width:1.29in;line-height:0.16in;">
        <span style="font-style:normal;font-weight:bold;font-size:10pt;font-family:MUFUZY+Calibri-Bold;color:#000000">Acompte demandé</span><span
                style="font-style:normal;font-weight:bold;font-size:10pt;font-family:MUFUZY+Calibri-Bold;color:#000000"> </span><br/></SPAN>
    </div>
    <div style="position:absolute;top:7.45in;left:7.40in;width:0.59in;line-height:0.16in;">
        <span style="font-style:normal;font-weight:normal;font-size:10pt;font-family:MUFUZY+Calibri;color:#000000">613,82 €</span><span
                style="font-style:normal;font-weight:normal;font-size:10pt;font-family:MUFUZY+Calibri;color:#000000"> </span><br/></SPAN>
    </div>
    <div style="position:absolute;top:7.70in;left:0.81in;width:0.42in;line-height:0.13in;">
        <span style="font-style:italic;font-weight:bold;font-size:8pt;font-family:MUFUZY+Calibri-BoldItalic;color:#000000">Notes :</span><span
                style="font-style:italic;font-weight:bold;font-size:8pt;font-family:MUFUZY+Calibri-BoldItalic;color:#000000"> </span><br/></SPAN>
    </div>
    <div style="position:absolute;top:7.93in;left:0.81in;width:1.79in;line-height:0.13in;">
        <span style="font-style:italic;font-weight:bold;font-size:8pt;font-family:MUFUZY+Calibri-BoldItalic;color:#000000">La prestation ne comprend pas :</span><span
                style="font-style:italic;font-weight:bold;font-size:8pt;font-family:MUFUZY+Calibri-BoldItalic;color:#000000"> </span><br/></SPAN>
    </div>
    <div style="position:absolute;top:8.15in;left:0.81in;width:2.54in;line-height:0.13in;">
        <span style="font-style:italic;font-weight:bold;font-size:8pt;font-family:MUFUZY+Calibri-BoldItalic;color:#000000">  La location d&apos;une plateforme d&apos;hébergement</span><span
                style="font-style:italic;font-weight:bold;font-size:8pt;font-family:MUFUZY+Calibri-BoldItalic;color:#000000"> </span><br/></SPAN>
    </div>
    <div style="position:absolute;top:8.38in;left:0.81in;width:1.95in;line-height:0.13in;">
        <span style="font-style:italic;font-weight:bold;font-size:8pt;font-family:MUFUZY+Calibri-BoldItalic;color:#000000">  La rédaction des contenus du blog</span><span
                style="font-style:italic;font-weight:bold;font-size:8pt;font-family:MUFUZY+Calibri-BoldItalic;color:#000000"> </span><br/></SPAN>
    </div>
    <div style="position:absolute;top:8.63in;left:0.81in;width:4.11in;line-height:0.13in;">
        <span style="font-style:italic;font-weight:bold;font-size:8pt;font-family:MUFUZY+Calibri-BoldItalic;color:#000000">  La maintenance du site vitrine après un délais de 30 jours à compter de la</span><span
                style="font-style:italic;font-weight:bold;font-size:8pt;font-family:MUFUZY+Calibri-BoldItalic;color:#000000"> </span><br/></SPAN>
    </div>
    <div style="position:absolute;top:8.79in;left:0.81in;width:0.94in;line-height:0.13in;">
        <span style="font-style:italic;font-weight:bold;font-size:8pt;font-family:MUFUZY+Calibri-BoldItalic;color:#000000">date de livraison</span><span
                style="font-style:italic;font-weight:bold;font-size:8pt;font-family:MUFUZY+Calibri-BoldItalic;color:#000000"> </span><br/></SPAN>
    </div>
    <div style="position:absolute;top:9.34in;left:0.79in;width:2.11in;line-height:0.15in;">
        <span style="font-style:normal;font-weight:bold;font-size:9pt;font-family:MUFUZY+Calibri-Bold;color:#000000">Signature et cachet de l&apos;entreprise</span><span
                style="font-style:normal;font-weight:bold;font-size:9pt;font-family:MUFUZY+Calibri-Bold;color:#000000"> </span><br/></SPAN>
    </div>
    <div style="position:absolute;top:9.26in;left:4.09in;width:3.94in;line-height:0.15in;">
        <span style="font-style:normal;font-weight:bold;font-size:9pt;font-family:MUFUZY+Calibri-Bold;color:#000000">Signature du client précédée de la mention &quot;Lu et approuvé, bon</span><span
                style="font-style:normal;font-weight:bold;font-size:9pt;font-family:MUFUZY+Calibri-Bold;color:#000000"> </span><br/></SPAN>
    </div>
    <div style="position:absolute;top:9.43in;left:4.09in;width:0.89in;line-height:0.15in;">
        <span style="font-style:normal;font-weight:bold;font-size:9pt;font-family:MUFUZY+Calibri-Bold;color:#000000">pour accord&quot; :</span><span
                style="font-style:normal;font-weight:bold;font-size:9pt;font-family:MUFUZY+Calibri-Bold;color:#000000"> </span><br/></SPAN>
    </div>
    <div style="position:absolute;top:10.70in;left:0.79in;width:2.78in;line-height:0.12in;">
    <span style="font-style:normal;font-weight:bold;font-size:8pt;font-family:MUFUZY+Calibri-Bold;color:#000000">Moyen de paiement :         chèque ou virement bancaire</span><span
            style="font-style:normal;font-weight:bold;font-size:8pt;font-family:MUFUZY+Calibri-Bold;color:#000000"> </span><br/></SPAN></div>
    <div style="position:absolute;top:10.95in;left:0.79in;width:5.02in;line-height:0.12in;">
    <span style="font-style:normal;font-weight:bold;font-size:8pt;font-family:MUFUZY+Calibri-Bold;color:#000000">Délai de règlement  :          30% à la commande puis un règlement final à la livraison du projet finalisé,</span><span
            style="font-style:normal;font-weight:bold;font-size:8pt;font-family:MUFUZY+Calibri-Bold;color:#000000"> </span><br/></SPAN></div>
    <div style="position:absolute;top:11.41in;left:0.79in;width:5.66in;line-height:0.11in;">
    <span style="font-style:italic;font-weight:bold;font-size:7pt;font-family:MUFUZY+Calibri-BoldItalic;color:#000000">En cas de retard de paiement et de recours à un créancier, conformement à l&apos;article 121-11 de la loi n° 2012-387 du 22 mars 2012</span><span
            style="font-style:italic;font-weight:bold;font-size:7pt;font-family:MUFUZY+Calibri-BoldItalic;color:#000000"> </span><br/></SPAN></div>
    <div style="position:absolute;top:11.60in;left:0.79in;width:3.56in;line-height:0.11in;">
    <span style="font-style:italic;font-weight:bold;font-size:7pt;font-family:MUFUZY+Calibri-BoldItalic;color:#000000">une indemnité pour frais de recouvrement d&apos;un montant de 40 € sera demandée,</span><span
            style="font-style:italic;font-weight:bold;font-size:7pt;font-family:MUFUZY+Calibri-BoldItalic;color:#000000"> </span><br/></SPAN></div>
    {#<img style="position:absolute;top:0.83in;left:0.76in;width:2.08in;height:1.20in" src="https://zupimages.net/up/19/19/yzhw.png"/>#}
</body>
</html>