{# ./templates/default/mypdf.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title of the PDF</title>
</head>
<body>
    <h4>Date : </h4>
    <p>{{ date }}</p>
    <br>
    <h4>Email : </h4>
    <p>{{ email }}</p>
    <br>
    <h4>Comment</h4>
    <p>{{ comment }}</p>
</body>
</html>