@font-face {
    font-family: "BARON_NEUE";
    src: url("../fonts/BARON_NEUE.OTF") format("opentype");
}

@font-face {
    font-family: "BARON_NEUE_BOLD";
    src: url("../fonts/BARON_NEUE_BOLD.OTF") format("opentype");
}

@font-face {
    font-family: "BARON_NEUE_BLACK";
    src: url("../fonts/BARON_NEUE_BLACK.OTF") format("opentype");
}

@font-face {
    font-family: "MORGANITE-MEDIUM";
    src: url("../fonts/MORGANITE-MEDIUM.TTF") format("truetype");
}

@font-face {
    font-family: "MORGANITE-EXTRABOLD";
    src: url("../fonts/MORGANITE-EXTRABOLD.TTF") format("truetype");
}

body {
    background-color: #dfdfdf;
    color: black;
}

h1 {
    font-family: BARON_NEUE_BOLD, sans-serif;
    font-size: 65px;
    text-shadow: 12px 5px 10px #b1b1b1;
}

h2 {
    font-family: BARON_NEUE_BOLD, sans-serif;
    font-weight: bold;
    text-shadow: 19px 15px 4px #b1b1b1;
    font-size: 60px;
    display: block;
    margin: auto;
}

h3 {
    font-family: BARON_NEUE_BLACK, sans-serif;
    font-size: 48px;
    text-align: center;
    text-shadow: 19px 15px 4px #b1b1b1;

}

h4 {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: #757280;
    font-size: 42px;
}

span {
    padding: 10px;
    border-bottom: black solid;
}

em {
    font-family : Roboto, sans-serif;
    font-weight : 200;
    font-size : 16px;
}


hr {
    width: 50%;
    color: #FFFFFF;
}

.norm {
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.norm_white {
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.btn-gradient {
    background-image: linear-gradient(#0080ff, #ff00ee);
    display: block;
    margin: auto;
    width: 300px;
    border-radius: 30px;
}

.text_btn {
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 48px;
    color: #FFFFFF;
    text-shadow: 19px 15px 10px  #404040;
    padding: 0;
    margin: 0;
}

.col1 {
    border-right-style: solid;
}

.col1 .col-md-6 {
    margin-right: 0;
    padding-right: 0;
}

.col2 .col-md-6{
    margin-left: 0;
    padding-left: 0;
}

.sub-title {
    font-family: BARON_NEUE_BOLD, sans-serif;
    font-weight: bold;
    text-shadow: 12px 7px 2px #b1b1b1;
    font-size: 30px;
    color: #FFFFFF;
}

.card {
    z-index: auto;
}

.card-header {
    font-family: BARON_NEUE_BOLD, sans-serif;
    font-weight: bold;
    text-shadow: 12px 7px 2px #b1b1b1;
    font-size: 30px;
}

.card_choice:hover {
    background-color: #1b1e21;
    text-shadow: none;
    color: #FFFFFF;
}

.card-header:hover {
    text-shadow: none;
}

a div.card_choice:hover {
    text-shadow: none;
}

.card-body {
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 22px;
}

.card-footer {
    background-color: #FFFFFF;
    font-family: BARON_NEUE_BOLD, sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-shadow: 12px 7px 3px #b1b1b1;
}

.form-check-label {
    margin-left: 40px;
}

/* Aspect des checkboxes */
/* :before sert à créer la case à cocher */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left:0; top: 2px;
    width: 50px; height: 50px; /* dim. de la case */
    border: 1px solid #aaa;
    background: #f8f8f8;
    border-radius: 3px; /* angles arrondis */
    box-shadow: inset 0 1px 3px rgba(0,0,0,.3) /* légère ombre interne */
}

/* Aspect général de la coche */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: 0; left: 4px;
    font-size: 45px;
    color: #09ad7e;
    transition: all .2s; /* on prévoit une animation */
}
/* Aspect si "pas cochée" */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0; /* coche invisible */
    transform: scale(0); /* mise à l'échelle à 0 */
}
/* Aspect si "cochée" */
[type="checkbox"]:checked + label:after {
    opacity: 1; /* coche opaque */
    transform: scale(1); /* mise à l'échelle 1:1 */
}


/* Nav */
.menu-text li a {
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 40px;
}

.menu-text li {
    list-style-type: none;
}

.menu-text a:hover {
    color: purple;
}

#menu_burger{
    display:block;
    margin: 20px 85px 40px 2px;
    float:right;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    z-index: 2000;
    padding: 20px;
    background: #000000;
    border-radius: 5px;
    width: 100%;
    height:100%;
    position: relative;
    transition: all 5s ease-in-out;
    /*color:#000000;*/
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 60px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

.close img{
    /*transition: transform 300ms ease-out;*/
    transform: rotate(90deg);
    margin: 20px 85px 40px 2px
}
.popup .close:hover {
    transition: transform 300ms ease-out;
    /*transform: rotate(-90deg);*/
}
.popup .content_menu {
    height: 100%;
    overflow: auto;
    z-index: 1100;
}

.menu:hover {
    transition: transform 300ms ease-in-out;
    transform: rotate(90deg);
}

.menu{
    position:fixed;
    margin-right:2em;
    margin-top: 2em;
}

.menu_2{
    list-style-type:none;
    border-bottom:none;
    display:block;
    height:100%;
}

.menu_2 li{
    font-size: calc(1.5104vw + 28px);
    font-weight: bold;
    text-align: center;
}

.menu_2 li , a:hover, a:visited{
    text-decoration: none;
    color:#000000;
}

#partie a:hover {
    text-decoration:none;
    color: purple;
}

.nav_footer {
    font-family: Roboto, sans-serif;
    font-size: 19px;
    color: black;
    opacity: 0.35;
    text-shadow: 12px 13px 6px #000000;
    border-top: black solid;
}

